/* quickplay.css */

/* font face */
@font-face {
    font-family: "dos-v_re_jpn16";
    src: url("./Web437_DOS-V_re_JPN16.woff") format("woff2");
    font-display: auto;
  }


body {
    font-family: dos-v_re_jpn16, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #ffffffff;
}

button {
    background-color: #008000; /* green */
    border: 1px solid #ddd;
    color: white;
    padding: 10px 20px;
    font: inherit;
    cursor: pointer;
    border-radius: 0px;
    margin-top: 20px;
}

button:hover {
    background-color: #111166;
}

#server-info {
    margin-top: 20px;
    font inherit;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 0px;
    width: 300px;
    text-align: left;
}

#server-info p {
    margin: 5px 0;
    font inherit;
}

#server-list {
    margin-top: 30px;
    width: 90%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    overflow: auto;
}

#server-list ul {
    list-style-type: none;
    padding: 0;
}

#server-list li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 0px;
    margin-bottom: 10px;
    padding: 10px;
    overflow: hidden;
}

#server-list li p {
    margin: 5px 0;
}

#server-list li button {
    background-color: #008000; /* green */
    border: 1px solid #ddd;
    color: white;
    padding: 10px 20px;
    font: inherit;
    cursor: pointer;
    border-radius: 0px;
    margin-top: 10px;

}

#server-list li button:hover {
    background-color: #0056b3;
}

#xlist {
    margin-top: 30px;
    width: 80%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

#xlist ul {
    list-style-type: none;
    padding: 0;
}

#xlist li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    overflow: hidden;
}

#xlist li p {
    margin: 5px 0;
}

#github {
    margin-top: 30px;
    font inherit;
    background-color: black;
    width: 500px;
    text-align: center;
}

#github button {
    background-color: #1188ff; /* dos magenta */
    border: 1px solid #ddd;
    color: white;
    padding: 10px 20px;
    font: inherit;
    cursor: pointer;
    border-radius: 0px;
    margin-top: 10px;
}

#github button:hover {
    background-color: #880088;
}

#hash {
margin-top: 30px;
    font inherit;
    background-color: #ff4444;
    border: 1px solid #ddd;
    color: white;
    width: 500px;
    text-align: center;
    }

#lbhash {
margin-top: 30px;
    font inherit;
    background-color: #ff4444;
    border: 1px solid #ddd;
    color: white;
    width: 500px;
    text-align: center;
    }

#ham-images-container {
    margin-top: 30px;
    font inherit;
    background-color: #ff4444;
    border: 1px solid #ddd;
    color: white;
    width: 500px;
    text-align: center;
}

#ham-images-container img {
    max-width: 500px;
    height: auto;
}


#pages a {
    text-decoration: none;
    color: #000; /* black text */
    padding: 10px 20px;
    border: 2px solid #000; /* black border */
    border-radius: 5px; /* rounded corners */
}

#pages a:hover {
    background-color: #000; /* black background */
    color: #fff; /* white text */
}

#loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1a1a1a; /* Dark gray background */
    color: #e0e0e0; /* Light gray text */
    padding: 20px;
    border: 2px solid #e0e0e0; /* Light gray border */
    font-size: 18px;
    text-align: center;
    z-index: 1000;
}