<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type=text/css href="static/quickplay.css">
    <title>True Quickplay Servers</title>
</head>
<body>
    <h1>True Quickplay Servers</h1>
    <button onclick="fetchServer()">Get Server with Most Players</button>
    <a href="/server_list"><button>View All Servers</button></a>
    <a href="/xlists"><button>View Greylist</button></a>
    <div id="server-info"></div>

    <script>
        function fetchServer() {
            fetch('/servers')
                .then(response => response.json())
                .then(data => {
                    if (data.message) {
                        document.getElementById('server-info').innerText = data.message;
                    } else {
                    let greylistWarning = data.greylisted ? `<p style="color: red;">Warning: This server is greylisted. Reason: ${data.reason}</p>` : '';
                        document.getElementById('server-info').innerHTML = `
                            <p>Server Name: ${data.name}</p>
                            <p>Players: ${data.players}</p>
                            <p>IP: ${data.addr}</p>
                            <p>Map: ${data.map}</p>
                            <p>Region: ${data.region}</p>
                            <p>Ping: ${data.ping}</p>
                            <p style="color: ${data.greylisted ? 'red' : 'black'};">Greylisted: ${data.greylisted ? 'Yes' : 'No'} ${data.greylisted ? ': Reason ' + data.reason : ''}</p>
                            <button onclick="connectServer('${data.addr}')">Connect</button>
                        `;
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function git() {
            fetch('/git', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('githash').innerText = data.git_hash;
            })
            .catch(error => console.error('Error:', error));
        }
                function connectServer(ip) {
            fetch('/connect', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ ip: ip }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.url) {
                    window.open(data.url, '_blank');
                } else {
                    alert(data.message);
                }
            })
            .catch(error => console.error('Error:', error));
        }
        window.onload = git;

    </script>
    <div id="github">
<a href="https://github.com/OwOBots/quickplay-server-finder"><button>Source Code (redirects to github)</button></a>
<a href="https://discord.gg/pnBbJg2tZf"><button>True Quickplay Discord (redirects to discord)</button></a>
</div>
    <div id="hash">
        <p>Current Git Hash: <span id="githash"></span></p>
    </div>

</body>
</html>