<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type=text/css href="static/quickplay.css">
    <title>True Quickplay Servers</title>
</head>
<body>
    <h1>True Quickplay Servers</h1>
    <button onclick="fetchServer()">Get Server with Most Players</button>
    <a href="/server_list"><button>View All Servers</button></a>
    <a href="/xlists"><button>View Greylist</button></a>
    <div id="server-info"></div>
    <div id="loading" style="display: none;">Loading...</div>
    <script type=text/javascript src="{{
  url_for('static', filename='js/index.js') }}"></script>

    <div id="github">
<a href="https://github.com/OwOBots/quickplay-server-finder"><button>Source Code (redirects to github)</button></a>
<a href="https://discord.gg/pnBbJg2tZf"><button>True Quickplay Discord (redirects to discord)</button></a>
</div>
    <div id="hash">
        <p>Current Git Hash: <span id="githash"></span></p>
    </div>

</body>
</html>