<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type=text/css href="static/quickplay.css">
    <title>XLists</title>
</head>
<body>
    <h1>Greylist</h1>
<div id="xlist">
    <ul>
        {% for xlist in greylist %}
            <li>
                <p>Name: {{ xlist.Server }}</p>
                <p>Reason: {{ xlist.Reason }}</p>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>